.loginscreen.middle-box { width:auto;}
select.input-sm{ height:30px;}
.btn-group-sm > .btn, .btn-sm{ padding:5px 15px; font-size:16px;}
.mar-top5{ margin-top:5px;}
.top-navigation .navbar-brand{ background:#f3f3f4; height:auto;}
.navbar-brand img {display: block; height: 50px; margin: -15px;}
.white-bgx .navbar-fixed-top, .white-bgx .navbar-static-top{ background:#012b72;}
.top-navigation .nav > li > a{ color:#bbd1e3; text-transform:uppercase;}
.top-navigation .nav > li a:hover, .top-navigation .nav > li a:focus, .top-navigation .nav > li.active > a{ color:#fff; background:#00c1fe;}
.top-navigation .navbar-right{ margin-right:0;}
.top-navigation .wrapper.wrapper-content{ padding:15px 0 0;}
a:focus{ outline:none;}
.lg-view{ background:#fff; overflow:hidden; border-top:solid 5px #ed4639; margin-bottom:15px;}
.sub-menu{ margin:0; padding:0; list-style:none;}
.sub-menu li{ float:left; padding:10px; border-right:solid 1px #ed4639;}
.sub-menu li a{ color:#29255a ;}
.sub-menu li a i{ display:block; font-size:30px; text-align:center;}
.sub-menu li a:hover{color:#ed4639;}

.rowx{ overflow:hidden;}
.rowx.page-heading{ padding:0 0 10px !important;}

.xnavbar-fixed-top{ position:static; margin-bottom:15px;}
.dropdown-menu {
    position: fixed !important;
    top: 100px;
    width: 100%;
    z-index: 1111 !important; background:#fff; overflow:hidden; /*border-top:solid 5px #00c1fe !important;*/ margin-bottom:15px;
}
.dropdown-menu li{border-right:solid 1px #7db5ae;}
.dropdown-menu li a {
    font-size: 12px; color:#29255a; border-radius:0; background:#fff; text-transform:uppercase;
}
.dropdown-menu li {
    float: left;
}
.dropdown-menu li i {
   display:block; font-size:20px; text-align:center;
}
.active .dropdown-menu {
    xdisplay: block;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{   background: #00c1fe ;
    color: #fff;}
.top-navigation .navbar-nav .dropdown-menu > .active > a{color:#02baf4; font-weight:normal !important;}
.top-navigation .navbar-nav .dropdown-menu > a:hover{ background:none; color:#02baf4;}
.footer{position:relative; }

.top-navigation {
    background: #f3f3f4 none repeat scroll 0 0;
    padding-top: /*145px*/ /*200px*/ 0;
}
.new-tbl th{ background:#7f8898 !important; color:#fff !important;}
.navbar-toggle{ background:#ed4639;}
.top-navigation .nav > li > a{
	padding:10px;
}
.graphs{ overflow:hidden; padding:10px 0 0;}
.graph-in {
    float: left;
    text-align: center;
    width: 16%;
}
.navbar, .navbar-top-links li a{ min-height:0;}
.graph-txt{ color:#012b73; font-size:13px; font-weight:600;}

.nav.navbar-top-links a{ font-size:13px;}
.info {
    position: relative; display:none;
}
.overlay-hide {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
	z-index:2031;
}
.info-in {
    background: #fff none repeat scroll 0 0;
    padding: 15px;
    position: absolute;
    z-index: 2032;
}


.map-btns{ overflow: hidden; padding:2px 0;}

#same-height .ibox-title {
    padding: 5px 15px;
}
#same-height .ibox-title .row.no-pad-in {
    margin: 0;
    padding: 0;
}
.no-pad-in div select.input-sm {
    height: 30px;
}
#same-height .float-e-margins .btn {
}
#same-height .btn.btn-sm.btn-primary {
    margin: 0;
}
#same-height .no-pad-in div {
    margin: 0;
}
#same-height2 .ibox-title {
    padding: 0 10px;
}

ul.subnav-right {
}
ul.subnav-left, ul.subnav-right, div.bc-menu {
    display: table;
    height: 100%; margin:0; padding:0; float:right;
}
ul.subnav-left li, ul.subnav-right > li, div.bc-menu > div {
    display: inline-block;
    float: left !important;
    padding-left: 1px;
    padding-right: 1px;
    vertical-align: middle;
}
ul.subnav-right > li > a {
    
  
    height: 25px;
    width: 38px;
    display: inline-block;
}

ul.subnav-left li a:hover, ul.subnav-right > li > a:hover {
    
    box-shadow: 0 0 1px #ddd;
}
ul.subnav-right > li > a.active {
   
}
li.map-datetime {
    border: 0 none;
    padding: 10px 30px 0 0;
}
#div1, #div2, #div3, #div4 {
    display: none;
    padding-bottom: 20px;
}
li.map-actions, li.map-vehicles {
    position: relative;
}
li.map-vehIds, li.map-vehtags {
    margin-right: 3px;
}
li.map-actions > a, li.map-vehicles > a {
    height: 25px !important;
    width: 25px !important;
}
li.map-actions > a {
    background-image: url(../images/searching.svg);
    background-repeat: no-repeat;
    background-size: cover;
        padding: 2ex;
}
li.map-actions > a.active {
   
  
}
li.map-vehicles > a {
    background-position: -1072px 0;
}
li.map-vehicles > a.active {
    background-position: -1006px 0;
}
li.map-landmarks > a {
    background-position: -496px 0;
}
li.map-landmarks > a.active {
    background-position: -440px 0;
}

li.map-geofences > a {
    background-position: -288px 0;
}
li.map-geofences > a.active {
    background-position: -328px 0;
}
li.map-reset > a {
    background-position: -489px 0;
}
li.map-icon-medium > a, li.map-icon-large > a {
    height: 34px !important;
    width: 45px !important;
}
li.map-icon-medium, li.map-layout-toggle1 {
    padding-right: 0 !important;
}
li.map-icon-large, li.map-layout-toggle2 {
    padding-left: 0 !important;
}
li.map-icon-medium > a {
    background-position: -759px 0;
}
li.map-icon-medium > a.active {
    background-position: -708px 0;
}
li.map-icon-large > a {
    background-position: -602px 0;
}
li.map-icon-large > a.active {
    background-position: -552px 0;
}
li.map-fullscreen > a {
    background-position: -272px 0;
}
li.map-layout-toggle1 > a, li.map-layout-toggle2 > a {
    height: 25px !important;
    width: 25px !important;
}
li.map-layout-toggle1 > a {
	  background-image: url(../images/van.svg);
	  background-repeat: no-repeat ;
	  margin: 2px;
    background-size: cover;
  
}
li.map-layout-toggle1 > a.active {
    background-image: url(../images/va.svg);
    background-repeat: no-repeat;
    margin: 2px;
    background-size: cover;
}

li.map-layout-toggle2 > a {
     background-image: url(../images/han.svg);
     background-repeat: no-repeat;
       padding: 2ex;
    background-size: cover;
}

li.map-layout-toggle2 > a.active {
   background-image: url(../images/ha.svg);
   background-repeat: no-repeat;
       padding: 2ex;
    background-size: cover;
}

.top-title{    font-size: 25px;
    font-weight: bolder;
    color: #192853;
    padding: 15px 0;}

.cust-logo span {
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: 0; color:#214b7d;
}
.cust-logo {
    display: inline-block;
    padding: 4px 5px;
    text-align: center;
}
.cust-name{font-size: 13px; font-weight: 600; color:#fff;}



.no-pad-in div {
    padding: 0 2px;
    width: auto;
}
.no-pad-in div select.input-sm{ padding:6px 3px;}
.no-pad-in {
    margin: 0 -5px;
}

.no-pad-in div.btn-list {
    padding: 4px 0;
}
.btn-list a {
    margin: 0 2px;
}
.top-navigation .navbar-nav .open .dropdown-menu > li > a, .top-navigation .navbar-nav .open .dropdown-menu .dropdown-header { padding:7px 20px; }

.auto-reloader-bar {
    background: #012b73;
    color: #fff;
    margin: -2px -15px 0;
    padding: 0px 20px 1px;
}


.auto-reloader-bar {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.auto-reloader-bar .checkbox label, .auto-reloader-bar .radio label{ font-size: 14px;
    font-weight: 600;
   }

.auto-reloader-bar select {
    color: #012b73; padding:0; height:25px;
}


.open .dropdown-menu {
    z-index: 1122 !important;
	margin-top: 10px !important;
}
.navbar-fixed-top .col-sm-6.text-center{ padding:0;}
ul.nav.navbar-nav{ padding:0; margin:0;}
ul.nav.navbar-top-links.navbar-right {margin: 0; padding: 0;}
#page-wrapper2{padding:0 15px; bottom:0px; top:115px; position:fixed; width:100%; overflow:auto;}
.pad-bot-0{ padding-bottom:0; margin-bottom:0;}

.foot-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}


.top-navigation .navbar-nav .dropdown-menu a {
    padding: 2px 0 !important;
    text-align: center;
    width: 130px;
}

.auto-reloader-bar .copy-txt {
    font-size: 12px;
    font-weight: normal;
}


#page-wrapper2 .ibox-titlex {
    padding: 5px 15px;
}


.edit-delet a {
    background: #fff ;
    border: 1px solid #ccc;
    color: orange;
    display: inline-block;
    padding: 5px 10px;
}


@media(max-width:1125px){
	.btn-list a{ margin:0 6px;}
	.subnav-right li{ margin-bottom:6px;}
	.subnav-right.az-move-right{ margin-bottom:-10px;}
}
@media(max-width:1100px){
	.top-navigation .navbar-nav .dropdown-menu a{ width:auto !important; padding:5px 10px !important;}
}
@media(max-width:1000px){
	.top-navigation .navbar-right {
    margin-right: 15px;
}
.navbar-nav{
	margin:0 15px;
}
.graph-in{ width:25%; margin:10px 0px;}
}
@media(max-width:991px){
.md-pad-left{ padding-right:15px !important;}
.md-pad-right{ padding-left:15px !important;}
.top-navigation{padding-top:145px;}
#page-wrapper2{top:125px;}
#same-height2 .ibox-title {
    border-bottom: 1px solid #e7eaec;
    margin-bottom: 10px;
    padding: 0 15px 5px;
}
}

@media (max-width: 880px){
.top-navigation .nav > li > a {
    padding: 10px 4px !important; font-size:12px;
}

}
@media (max-width: 768px){
	.top-navigation{ padding-top:0px;}
.dropdown-menu{ position:static !important;}
.active .dropdown-menu{ display:none;}
.active.dropdown.open .dropdown-menu{ display:block;}
.dropdown-menu li{ border-right:none; border-bottom:1px solid #7db5ae; float:none; display:block;}
.dropdown-menu li i { display:inline; font-size:20px;}
.navbar-toggle{ margin-right:25px;}
.navbar-nav{
	margin:0 0px;
}
.top-navigation.body-small .wrapper.wrapper-content, .body-small .top-navigation .wrapper.wrapper-content{
	padding:20px 0;
}
ul.subnav-left li, ul.subnav-right > li, div.bc-menu > div {
    display: inline-block;
    float: left !important;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: middle;
}

.auto-reloader-bar .form-inline .form-group {
    display: inline-block;
}
.no-pad-in div{ float:none; width:auto; display:inline-block;}
.navbar-fixed-top{ }

.auto-reloader-bar .form-group, .auto-reloader-bar .i-checks{ margin:0;}
.top-title{ font-size:17px;}
.logo-img img{ max-width:100%; margin:10px 0;}
.cust-logo span{ font-size:13px;}
.top-navigation .navbar-nav .dropdown-menu a{ width:100%; text-align:left; padding:5px 10px !important;}
}
@media(max-width:600px){
.auto-reloader-bar .col-xs-6{}
.auto-reloader-bar .form-group, .auto-reloader-bar label{ padding:0; margin:0;}
}

@media(max-width:500px){
	.graph-in{ width:50%; margin:10px 0px;}
	.navbar-fixed-top .row .col-sm-3, .navbar-fixed-top .row .col-sm-6{ width:100%; text-align:center; padding:0 15px;}
	.top-title{ padding:0;}
	#page-wrapper2{ top:210px;}
}
@media(max-width:433px){
	#page-wrapper2{ top:230px;}
}

select{
	color: black;
}

.datepicker{
	width: auto;
}

.datepicker table tr th{
	border-radius: 0px !important;
	color: #fff !important;
}

.bootstrap-timepicker-widget.dropdown-menu {
    margin-left: 15px;
    margin-top: -13px;
    position: absolute !important;
    top: 70px !important;
    width: auto !important;
    z-index: 1111 !important;
    background: #fff !important;
    overflow: inherit !important;
    border: 1px solid #cbcbcb !important;
}

.page-heading .col-sm-12 h2{
	margin-top: 10px;
    margin-bottom: 0px;
}

.col-sm-6 div.text-right{
	margin-top: 15px;
}

.dt-button{
	padding: 8px 10px;
}

.buttons-pdf:before{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f1c1";
	font-size:23px;
	padding-left:10px;
	color:red;
}
.buttons-colvis:before{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f0db";
	font-size:23px;
	padding-left:10px;
	color:grey;
}

.dt-button span{
	padding-left: 5px;
}

.buttons-csv:before{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f15b";
	font-size:23px;
	padding-left:17px;
}

.buttons-excel:before{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f1c3";
	font-size:23px;
	padding-left:10px;
	color:green;
}

.buttons-copy:before{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f0c5";
}

.logo-img>img{
	height: 70px;
}

.index-logo-img>img{
	height: 70px;
}

.radio-inline, .checkbox-inline{
	padding-left: 10px !important;
}